/*Specifying background image with path*/
body {
    background-image: url("../img/green_background.jpg");
    background-size: cover;
}

/*Specifying background font with path*/
@font-face {
    font-family: BreakingBadFont;
    src: url(/themonetarist.github.io/fonts/Heart\ Breaking\ Bad.otf);
    unicode-range: U+0097-0122F;
}

/*Applying font to all h1 heading and paragraphs + specifying font, font weight, size and position */
h1, p {
    color: white;
    font-family: BreakingBadFont;
}

h1 {
    color: white; 
    font-family: BreakingBadFont; 
    font-weight: bold;
    font-size: 50px;
    margin-top: 25px;
}

/*Width, position, font-weight for quotes and images*/
.quote_block img {
    width: 25%;
    margin-right: 350px;
    margin-top: 50px;
    float: right;
}

.quote_block p {
    width: 25%;
    float: left;
    margin-left: 265px;
    margin-top: 50px;
    font-weight: bold;
    font-size: 15px;
}

/*Size, position for plot block*/
.plot h2 {
    text-align: center;
    margin-top: 25px;
    color: forestgreen;
    
}

.plot img {
    width: 35%;
    display: block;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

.plot p {
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
}


/*Size, position for main story block with links to the season descriptions*/
#main_story_block ul { 
    text-align: center;
}

#main_story_block li {
    display: inline-block;
}

#main_story_block p {
    font-size: 15px;
}

/*Applying one same margin to all season descriptions*/
#season_1_block, #season_2_block, #season_3_block, #season_4_block, #season_5_block {
    margin-top: 65px;
}

/*Color, font family and positition for headings and paragraphs in season descriptions*/
.seasons h3 {
    color: forestgreen;
    font-family: BreakingBadFont;
    text-align: center;
}

.seasons p {
    font-family: BreakingBadFont;
}

iframe { 
    border: none; 
}